<launch>

 <node pkg="navig" type="frontiers" respawn="false" name="frontiers_node" output="screen" launch-prefix="gdb --args">
    <rosparam file="$(find navig)/config/frontiers.yaml" command="load" />
    <!--rosparam file="$(find navig)/config/global_costmap_params.yaml" command="load" /-->
    <rosparam file="$(find navig)/config/local_costmap_params.yaml" command="load" />
    <!--rosparam file="$(find navig)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/-->
    <rosparam file="$(find navig)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
 </node>

</launch> 
